{% extends '_layouts/base_sistema.html' %}

{% block head %}
<title>Acervo Digital</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_acervo.css') }}">
{% endblock %}

{% block conteudo_main %}

<!-- modal do filtro -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Filtro</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                    <label class="form-check-label" for="checkDefault">
                        Disponíveis
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkChecked" checked>
                    <label class="form-check-label" for="checkChecked">
                        Esgotados
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Aplicar Filtro</button>
            </div>
        </div>
    </div>
</div>

<div style="display: flex; justify-content: space-between; text-align: center;">
    <h4 class="fs-7">Acervo Digital</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('inicio') }}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Acervo Digital</li>
        </ol>
    </nav>
</div>
<hr>

<div style="display: flex; justify-content: space-between; margin-bottom: 1rem;">
    <p class="badge-principal">Livros Disponíveis</p>
    <div>
        <form method="post" class="d-flex">
            <input name="pesquisa_titulo" class="form-control me-2" placeholder="Pesquisar por Título"
                aria-label="Search" />
            <button class="btn btn-sm btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            <button class="btn btn-sm btn-outline-info" style="margin-left: 5px;" data-bs-toggle="modal"
                data-bs-target="#exampleModal" type="button"><i class="bi bi-filter"></i></button>
        </form>
    </div>
</div>

<section class="acervo">
    {% for dado in dados %}
    <div class="card">
        <img src="{{ url_for('static', filename = 'img/capa_livros/'+ dado['capa']) }}" class="card-img-top"
            alt="Capa livro {{ dado['titulo'] }}">
        <div class="card-body">
            <h5 class="card-title">{{ dado['titulo'] }}</h5>
            <p class="card-text">{{ dado['autor'] }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ dado['area_conhecimento'] }}</li>
            <li class="list-group-item">{{ dado['biblioteca'] }}</li>
            <li class="list-group-item">Restantes: <strong>{{ dado['quantidade'] }}</strong></li>
        </ul>
        <div class="card-body">
            <span class="badge text-bg-{% if dado['status'] == 'disponivel' %}success
                                       {% else %}danger{% endif %}">{{ dado['status'].title() }}</span>
            {% if dado['status'] == 'disponivel' %}
            <a href="{{ url_for('emprestimo_livro', id = dado['cod']) }}" class="card-link"><span
                    class="badge text-bg-primary"><i class="bi bi-book"></i> Resgatar</span></a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}