{% extends '_layouts/base_sistema.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style_editar_senha.css') }}">
<title>Editar Senha</title>
{% endblock %}

{% block conteudo_main %}
<div style="display: flex; justify-content: space-between; text-align: center;">
    <h4 class="fs-7">Editar Perfil</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('editar_perfil') }}">Voltar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Perfil</li>
            <li class="breadcrumb-item active" aria-current="page">Editar Senha</li>
        </ol>
    </nav>
</div>
<hr>

<section>
    <form method="post">
        <div class="mb-3">
            <label for="senha_atual" class="form-label">Senha Atual</label>
            <input 
                name="senha_atual" 
                type="password" 
                class="form-control"
                required>
        </div>
        <hr>
        <div class="mb-3">
            <label for="nova_senha" class="form-label">Nova Senha</label>
            <input 
                name="nova_senha" 
                type="password" 
                class="form-control"
                value="" required>
        </div>
        <div class="mb-3">
            <label for="confirmar_senha" class="form-label">Confirmar Senha</label>
            <input 
                name="confirmar_senha" 
                type="password" 
                class="form-control"
                value="" required>
        </div>
        <a href="{{ url_for('editar_senha', id = matricula_usuario) }}">Editar Senha</a>
        <div class="campo_botoes">
            <button type="submit" class="btn btn-success"><i class="bi bi-floppy"></i> Salvar</button>
            <button type="reset" class="btn btn-danger"><i class="bi bi-x-lg"></i> Cancelar</button>
        </div>
    </form>
</section>
{% endblock %}