<!-- irei começar a trabalhar aqui depois, quando eu chegar -->
<!-- LEMBRANDO QUE, EU AINDA TENHO QUE DEIXAR UM CLEAN CODE EM VIEWS, PQ LA AINDA TÁ UMA BAGACEIRA DO CRANCO -->
{% extends '_layouts/base_sistema.html' %}

{% block head %}
<title>Editar Perfil</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_editar_perfil.css') }}">
{% endblock %}

{% block conteudo_main %}
<div style="display: flex; justify-content: space-between; text-align: center;">
    <h4 class="fs-7">Editar Perfil</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('inicio') }}">Voltar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Perfil</li>
        </ol>
    </nav>
</div>
<hr>
<p class="badge-principal">{{ dados['matricula']}}</p>

<section>
    <form method="post">
        <div class="mb-3">
            <label for="nome_completo" class="form-label">Nome Completo</label>
            <input 
                name="nome_completo" 
                type="text" 
                class="form-control"
                value="{{ dados['nome_completo'] }}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input 
                name="email" 
                type="email" 
                class="form-control"
                value="{{ dados['email'] }}" required>
        </div>
        <hr>
        <a href="#">Editar Senha</a>
        <div class="campo_botoes">
            <button type="submit" class="btn btn-success"><i class="bi bi-floppy"></i> Salvar</button>
            <button type="reset" class="btn btn-danger"><i class="bi bi-x-lg"></i> Cancelar</button>
        </div>
    </form>
</section>
{% endblock %}