{% extends '_layouts/base_sistema.html' %}

{% block head %}
<title>Emprestimos</title>
{% endblock %}

{% block conteudo_main %}
<!-- sistema de mensagens -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div style="display: flex; justify-content: space-between; text-align: center;">
    <h4 class="fs-7">Histórico Livros Emprestados</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('acervo') }}">Voltar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Histórico Livros Emprestados</li>
        </ol>
    </nav>
</div>
<hr>
<section class="titulos">
    <div>
        <table class="table table-hover shadow p-3 mb-5 bg-body-tertiary rounded" style="text-align: center;">
            <thead>
                <tr class="table-light">
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Data Empréstimo</th>
                    <th scope="col">Data Devolução</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for livro_emprestado in info_livros_emprestados %}
                <tr>
                    <th scope="row">{{ livro_emprestado[0] }}</th>
                    <td>{{ livro_emprestado[1] }}</td>
                    <td>{{ livro_emprestado[2] }}</td>
                    <td>{{ livro_emprestado[3] }}</td>
                    <td>Entregue <i class="bi bi-check-circle-fill" style="color: darkgreen;"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>


{% endblock %}