{% extends '_layouts/base_sistema.html' %}

{% block head %}
<title>Inicio</title>
<link rel="stylesheet" href="../static/css/style_inicio.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block conteudo_main %}
<div style="display: flex; justify-content: space-between; text-align: center;">
    <h4 class="fs-7">Olá, {{ nome_usuario }} 👋</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('inicio') }}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Biblioteca</li>
        </ol>
    </nav>
</div>
<hr>

<!-- status dos titulos -->
<div>
    <p class="badge-principal">Titulos Em Aberto</p>
</div>
<section class="titulos">
    <div>
        <table class="table table-hover caption-top shadow p-3 mb-5 bg-body-tertiary rounded" style="text-align: center;">
            <caption><strong>{{ n_livros_emprestados }}</strong> livros emprestrados em aberto</caption>
            <thead>
                <tr class="table-light">
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Data Empresimo</th>
                    <th scope="col">Data Devolução</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for livro_emprestado in livros_emprestados %}
                <tr>
                    <th scope="row">{{ livro_emprestado['titulo'] }}</th>
                    <td>{{ livro_emprestado['autor'] }}</td>
                    <td>{{ livro_emprestado['data_emprestimo'] }}</td>
                    <td>{{ livro_emprestado['data_devolucao'] }}</td>
                    <td>{{ livro_emprestado['status'].title() }} 
                        {% if livro_emprestado['status'] == 'aberto' %}
                        <i class="bi bi-book-fill" style="color: rgb(9, 196, 221);"></i>
                        {% else %}
                        <i class="bi bi-alarm-fill" style="color: rgb(214, 4, 4);"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<!-- debitos com a instituicao e gráfico massa -->

<section class="debitos">
    <div>
        <div>
            <p class="badge-principal">Débitos</p>
        </div>
        <div>
            <table class="table table-hover shadow p-3 mb-5 bg-body-tertiary rounded" style="text-align: center;">
                <thead>
                    <tr class="table-light">
                        <th scope="col">Valor à Pagar (R$)</th>
                        <th scope="col">Detalhes</th>
                        <th scope="col">Pagar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>
                            <a href="#"><i class="bi bi-qr-code-scan"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div>
            <p class="badge-principal">Empréstimos de Livros</p>
        </div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <script src="../static/js/script_grafico_linhas.js"></script>

    </div>
</section>

{% endblock %}