{% extends '_layouts/base_projeto.html' %}

{% block head %}
<title>Recuperar Senha</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_recuperar_senha.css') }}">
{% endblock %}

{% block conteudo_main %}
<section class="login">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <div>
            <img src="../static/img/logo_ufal.webp" alt="Logo ufal">
        </div>
        <h5 style="text-align: center;">Recuperar Senha</h5>
        <form method="POST">
            <div class="mb-3">
                <label for="matricula" class="form-label">Matricula</label>
                <input type="text" name="matricula" class="form-control" id="matricula"
                    aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">Redefinição da senha chegará no e-mail cadastrado</div>
            </div>
            <div class="campo-botao">
                <button type="submit" class="btn btn-primary botao">Enviar</button>
            </div>
            <div class="campo-links">
                <a href="{{ url_for('login') }}">Login</a>
            </div>
        </form>
    </div>
</section> 
{% endblock %}