section {
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

.badge-principal {
    background-color: #964B00;
    color: white;
    width: 160px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3),
        inset 0 1px 2px rgba(255, 255, 255, 0.2);
}

.campo_botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}